.contact {
    margin: 2rem;

    .title{
        margin-left: 1rem;
    }

    .wechat {
        text-align: center;

        .wechat_img {
            width: 170px;
            height: 170px;
        }
    }
    .address{
        text-align: center;
    }
}
